 .label-search {
    margin-right: 1.5rem;
 }

 .table-usu {
   border-collapse: collapse;
   border: 1px solid #ddd;
   width: 100%;
 }

 th, td {
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 15px;
   
 }

 tbody {
   border-bottom: 1px solid #ddd;
 }

 .espacio-nombre {
    padding-bottom: 15px;
 }

 .img {
    width: 2%;
 }